.button {
    background-color: blueviolet; 
    border: 5px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 1px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid blueviolet;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 40px;
    left: 0%;
    color: blueviolet;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    
    
  }

  
  .button:hover {
    background-color: blueviolet;
    color: white;
  }

  .buttonClickHere{
    left: 30%;
  }
  
  .addBtn{
    background-color: blueviolet;
    color: white;

    display: inline-block;
    font-size: 32px;
    margin: 10px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid blueviolet;
    width: 180px;
    height: 40px;
    left: 0%;
    color: blueviolet;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .addBtn:hover {
    background-color: blueviolet;
    color: white;
  }



  .changeMoodBtn:hover {
    background-color: blueviolet;
    color: white;
  }

  .divider{
    width:8px;
    height:auto;
    display:inline-block;
}